node_modules/
src-tauri/target/
dist/
ui/dist/
*.log
*.tmp
launcher.v2.json
nassistant.settings.json
icons/*.ico
icons/*.txt
dec/
ref/
runtime-probes/target/
win32-launcher/target/

compile_commands.json
.cache/
*.png
*.jpg
*.mp4
build-qtant/
build-qtant-vs/
/.xmake
/build
