[submodule "mverify"]
	path = mverify
	url = https://github.com/luiox/mverify
[submodule "libca"]
	path = libca
	url = https://github.com/luiox/libca
[submodule "morpher"]
	path = morpher
	url = https://github.com/luiox/morpher.git
[submodule "morpher-api"]
	path = morpher-api
	url = https://github.com/luiox/morpher-api.git
[submodule "mrecaf4plugin"]
	path = mrecaf4plugin
	url = https://github.com/luiox/mrecaf4plugin.git
	