.launcher {
  display: flex;
  height: 100vh;
  background: #f7f7f7;
  .menu {
    width: 220px;
    background: #f0f2f5;
    border-right: 1px solid #e5e5e5;
    min-height: 100vh;
  }
  .list {
    flex: 1;
    padding: 32px 32px 32px 32px;
    background: #fff;
    overflow-y: auto;
  }
}